{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apps</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'underbuild/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'underbuild/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'underbuild/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'underbuild/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'underbuild/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'underbuild/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'underbuild/css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<!--  -->
<div class="simpleslide100">
    <div class="simpleslide100-item bg-img1"
         style="background-image: url('{% static 'underbuild/images/bg01.jpg' %}');"></div>
    <div class="simpleslide100-item bg-img1"
         style="background-image: url('{% static 'underbuild/images/bg02.jpg' %}');"></div>
    <div class="simpleslide100-item bg-img1"
         style="background-image: url('{% static 'underbuild/images/bg03.jpg' %}');"></div>
</div>

<div class="size1 overlay1">
    <!--  -->
    <br class="size1 flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-50">
    <p><h2>Download my YoutubeVideoDownloader to download youtube videos</h2> </p>
    <a href="https://github.com/BloddyRose/YouTubeVideoDownloader/releases/download/v2.0/YTVD.msi" target="_blank" class="flex-c-m size3 s2-txt3 how-btn1 trans-04 where1">
        Download YoutubeVideoDownloader
    </a>

    <br class="size1 flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-50">
    <p><h2>Download my Converter to convert youtube videos to songs</h2></p>
    <a href="https://github.com/BloddyRose/Converter/releases/download/v2.0/ConverterSetup.msi" target="_blank" class="flex-c-m size3 s2-txt3 how-btn1 trans-04 where1">
        Download Converter Mp4 To Mp3
    </a>

    <br class="size1 flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-50">
    <a href="{% url 'home' %}" class="flex-c-m size3 s2-txt3 how-btn1 trans-04 where1">
        Home
    </a>
</div>


<!--===============================================================================================-->
<script src="{% static 'underbuild/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'underbuild/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'underbuild/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'underbuild/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'underbuild/vendor/countdowntime/moment.min.js' %}"></script>
<script src="{% static 'underbuild/vendor/countdowntime/moment-timezone.min.js' %}"></script>
<script src="{% static 'underbuild/vendor/countdowntime/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'underbuild/vendor/countdowntime/countdowntime.js' %}"></script>
<script>
		$('.cd100').countdown100({
			/*Set Endtime here*/
			/*Endtime must be > current time*/
			endtimeYear: 0,
			endtimeMonth: 0,
			endtimeDate: 35,
			endtimeHours: 18,
			endtimeMinutes: 0,
			endtimeSeconds: 0,
			timeZone: "" 
			// ex:  timeZone: "America/New_York"
			//go to " http://momentjs.com/timezone/ " to get timezone
		});

</script>
<!--===============================================================================================-->
<script src="{% static 'underbuild/vendor/tilt/tilt.jquery.min.js' %}"></script>
<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})

</script>
<!--===============================================================================================-->
<script src="{% static 'underbuild/js/main.js' %}"></script>

</body>
</html>